.SIGNIN_main-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    /* font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"; */
    align-items: center;
}
.SIGNIN_banner-showcase{
    background-color: rgba(210, 204, 204, 0.168);
    width: 70%;
    height: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.SIGNIN_signinBanner{
    height: fit-content;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.SINGUP_banner-title{
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    /* color: var(--navbar-list-color); */
    font-weight: 900;
    -webkit-text-stroke: 1px var(--primary-color);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    line-height: 2rem;
}
.SINGUP_banner-title span{
    margin-top: 2rem;
}
.SIGNIN_logo{
    height: 100%;
    width: fit-content;
    object-fit: contain;
    margin-right: -3rem;
}
.SIGNIN_portion{
    width: 30%;
    min-width: 48rem;
    background-color: white;
    padding: 3rem;
    overflow-y: auto;
}
.SIGNIN_portion-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--logo-text-color);
}
.SIGNIN_portion-tagline{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--navbar-list-color);
}
/* .SIGNIN_portion-head{
    margin-bottom: 0rem;
} */
.SIGNIN_remember-check{
    border: 2px solid var(--input-border);
    accent-color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.SIGNIN_remember-approve{
    display: flex;
    align-items: center;
}
.SIGNIN_remember-testimony, .SIGNIN_already-account{
    color: var(--logo-text-color);
    font-size: 1.5rem;
    font-weight: 500;
}
.SIGNIN_remember-testimony{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.SIGNIN_already-account{
    width: 100%;
    text-align: center;
}
.SIGNIN_remember-testimony a, .SIGNIN_already-account a{
    color: var(--primary-color);
    cursor: pointer;
}

.SIGNIN_remember-testimony a:hover{
    color: var(--logo-text-color);
}
.SIGNIN_error{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: red;
    background-color: rgba(255, 0, 0, 0.128);
    border: 1px solid red;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-align: center;
    display: none;
    width: 0;
    transition: 0.2s all ease;
    overflow: hidden;
}
.SIGNIN_error.success{
    color: green;
    background-color: rgba(0, 128, 0, 0.357);
    border: green;
}
.SIGNIN_error.active{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px){
    .SIGNIN_banner-showcase{
        display: none;
    }
    .SIGNIN_portion{
        width: 100%;
        padding: 0;
        max-width: 48rem;
        min-width: 0;
    }
    .SIGNIN_main-container{
        justify-content: center;
    }   
}
@media screen and (max-width: 500px){
    .SIGNIN_portion{
        padding: 0 1rem;
    }
}