.INPUT_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0;
}
.INPUT_container.fullSize{
    flex-direction: row;
    margin: 0;
}
.INPUT_container.borderbottom{
    border-bottom: 1px solid var(--input-border);
    padding: 1rem 0;
}
.INPUT-label{
    color: var(--logo-text-color);
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
    font-weight: 400;
    transition: 0.3s all ease;
}
.INPUT_container.fullSize .INPUT-label{
    width: 20%;
    font-size: 1.5rem;
}
.INPUT_container:focus-within .INPUT-label{
    color: var(--primary-color)
}
.INPUT_container:focus-within .INPUT-main-wrap.shadow{
    box-shadow: 0 0 0 0.2rem var(--primary-color-shadow);
    border-radius: 5px;
}
.INPUT-main-input{
    width: 100%;
    border: 1.2px solid var(--input-border);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--logo-text-color);
    padding: 1.05rem;
    outline: none;
    transition: 0.3s all ease;
}
.INPUT_container.fullSize .INPUT-main-wrap{
    width: 100%;
    flex: 1;
}
.INPUT-main-input.hasbanner{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    font-size: 1.8rem
}
.INPUT-main-wrap{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 70rem;
}
.INPUT-main-input::placeholder{
    color: var(--input-inactive-theme);
    font-weight: 500;
}

.INPUT-main-input.hasbanner:focus{
    /* box-shadow: 0 0 0 0.2rem var(--primary-color-shadow); */
    box-shadow: none;
    padding-left: 1.5rem
}
.INPUT-main-input:focus{
    box-shadow: 0 0 0 0.2rem var(--primary-color-shadow);
    padding-left: 1.5rem
}
.INPUT-main-input:not(:placeholder-shown){
    border-color: var(--primary-color);
}
.INPUT_password-show{
    position: absolute;
    right: 1rem;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.INPUT-banner{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.5rem;
    color: white;
    border: 1.2px solid var(--input-border);
    border-right: none;
}
.INPUT_image{
    display: none;
}
.INPUT_file_label{
    /* width: 5rem;
    height: 5rem;
    background-color: orange;
    border-radius: 50%;
    overflow: hidden; */
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    height: fit-content;
    margin-left: 1rem;
    cursor: pointer;
}
.INPUT_file_label_img{
    width: 8rem;
    height: 8rem;
    background-color: orange;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--primary-color)
}
.INPUT_file_label_img img{
    height: 100%;
    width: fit-content;
    object-fit: contain;
}
.INPUT_file_img{
    width: 100%;
    height: fit-content;
    object-fit: contain;
}
.INPUT-main-wrap textarea{
    height: 150px;
}
.INPUT_checkbox{
    color: black;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.INPUT_checkbox:not(:last-child){
    margin-bottom: 0.5rem
}
.INPUT_checkbox input{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    accent-color: var(--primary-color)
}

@media screen and (max-width: 768px){
    .INPUT_container.fullSize{
        flex-direction: column;
        /* margin: 3rem 0; */
    }
    .INPUT_container.fullSize .INPUT-label{
        width: fit-content;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 450px){
    .INPUT-banner{
        font-size: 1.2rem;
        padding: 0.5rem
    }
    .INPUT-main-input.hasbanner{
        padding: 0.55rem;
        font-size: 1.5rem;
    }
}