.FORGOT_main-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    align-items: center;
}
.FORGOT_banner-showcase{
    background-color: rgba(210, 204, 204, 0.168);
    width: 70%;
    height: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.FORGOT_forgotBanner{
    height: fit-content;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.SINGUP_banner-title{
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    /* color: var(--navbar-list-color); */
    font-weight: 900;
    -webkit-text-stroke: 1px var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
}
.SINGUP_banner-title span{
    margin-top: 2rem;
}
.FORGOT_logo{
    height: 100%;
    width: fit-content;
    object-fit: contain;
    margin-right: -3rem;
}
.FORGOT_portion, .OTP_portion, .PASS_portion{
    width: 30%;
    min-width: 48rem;
    background-color: white;
    padding: 3rem;
    overflow-y: scroll;
    transition: 0.5s all ease;
}
.FORGOT_portion.hide{
    transform: translateX(100%);
    width: 0%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
}
.FORGOT_portion.show{
    transform: translateX(0);
}
.OTP_portion.hide, .PASS_portion.hide{
    transform: translateY(-100%);
    width: 0%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
}
.PASS_portion.hide{
    transform: translateY(100%);
}
.OTP_portion.show, .PASS_portion.show{
    transform: translateY(0);
}
.FORGOT_portion-heading, .OTP_portion-heading, .PASS_portion-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--logo-text-color);
}
.FORGOT_portion-tagline, .OTP_portion-tagline, .PASS_portion-tagline{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--navbar-list-color);
}
/* .FORGOT_portion-head{
    margin-bottom: 0rem;
} */
.OTP_portion-back, .PASS_portion-back{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.FORGOT_terms-check{
    border: 2px solid var(--input-border);
    accent-color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.FORGOT_terms-approve{
    display: flex;
    align-items: center;
}
.FORGOT_terms-testimony, .FORGOT_already-account, .FORGOT_resend{
    color: var(--logo-text-color);
    font-size: 1.5rem;
    font-weight: 500;
}
.FORGOT_already-account{
    width: 100%;
    text-align: center;
}
.FORGOT_terms-testimony a, .FORGOT_already-account a, .FORGOT_resend{
    color: var(--primary-color);
    cursor: pointer;
}
.FORGOT_resend{
    width: 100%;
    text-align: right;
    margin-top: -2.5rem;
}

.FORGOT_terms-testimony a:hover{
    color: var(--logo-text-color);
}
.FORGOT_error{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: red;
    background-color: rgba(255, 0, 0, 0.128);
    border: 1px solid red;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-align: center;
    display: none;
    width: 0;
    transition: 0.2s all ease;
    overflow: hidden;
}
.FORGOT_error.active{
    width: 100%;
    display: flex;
    justify-content: center;
}

.FORGOT_error.success{
    color: green;
    background-color: rgba(0, 128, 0, 0.357);
    border: green;
}

@media screen and (max-width: 900px){
    .FORGOT_banner-showcase{
        display: none;
    }
    .FORGOT_portion, .OTP_portion, .PASS_portion{
        width: 100%;
        padding: 0;
        max-width: 48rem;
        min-width: 0;
    }
    .FORGOT_main-container{
        justify-content: center;
    }   
}
@media screen and (max-width: 500px){
    .FORGOT_portion, .OTP_portion, .PASS_portion{
        padding: 0 1rem;
    }
}