.BODY_main-container{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.BODY_content{
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    flex: 1;
    /* background-color: black; */
}
