.HEADER_main-container{
    width: 100%;
    /* height: 100px; */
    /* background-color: orange; */
    height: 6rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: var(--navbar-bg);
}
.max-container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.HEADER_content{
    display: flex;
    justify-content: space-between;
}
.HEADER_logonlist{
    display: flex;
    align-items: center;
}
.HEADER_logo{
    display: flex;
    align-items: center;
}
.HEADER_logo .HEADER_logoimg{
    height: 4rem;
    width: fit-content;
    object-fit: contain;
}
.HEADER_list{
    list-style-type: none;
    display: flex;
    margin-left: 2rem;
}
.HEADER_list li{
    color: var(--navbar-list-color);
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.HEADER_list li:hover{
    background-color: var(--grey-hover);
    color: var(--hover-color)
}
.HEADER_searchnprofile{
    color: var(--navbar-list-color);
    display: flex;
    align-items: center;
}
.HEADER_searchbutton{
    display: flex;
    align-items: center;
    width: 14rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 1px solid var(--grey-border-color);
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}
.HEADER_searchbutton:hover{
    color: var(--hover-color);
    background-color: var(--grey-hover);
}
.HEADER_searchbutton:hover svg{
    fill: var(--hover-color)
}
.HEADER_profile{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
}
.HEADER_profile:hover{
    background-color: var(--grey-hover);
}
.HEADER_profileavatar{
    overflow: hidden;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HEADER_profileavatar img{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    object-fit: contain;
}
.HEADER_dropdown, .HEADER_list-dropdown{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0.8rem;
    background-color: var(--general-bg);
    border-radius: 1rem;
    box-shadow: var(--shadow) 0px 3px 8px;
}
.HEADER_list-dropdown{
    right: auto;
    left: 0;
    width: fit-content
}
.HEADER_dropdown ul, .HEADER_list-dropdown .list-left{
    list-style-type: none;
    min-width: 28rem;
    width: fit-content;
}
.HEADER_list-dropdown .list-left{
    padding-right: 1rem;
}
.HEADER_list-dropdown:has(.HEADER_list-dropdown-side) .list-left{
    border-right: 1px solid var(--grey-border-color);
}
.HEADER_list-dropdown-side{
    padding-left: 1rem;
    width: fit-content;
}
.HEADER_dropdown li, .HEADER_list-dropdown li{
    height: 6rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.HEADER_dropdown li:hover, .HEADER_list-dropdown li:hover{
    background-color: var(--grey-hover);
}

.HEADER_profiledropdown-icon, .HEADER_listdropdown-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    border-radius: 0.5rem;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

.HEADER_profile:hover .HEADER_dropdown{
    display: inline-block;
}
.HEADER_list li:hover .HEADER_list-dropdown{
    display: flex;
}
.HEADER_list-rotate-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: 1rem;
    transition: 0.5s all ease;
}
.HEADER_list li:hover .HEADER_list-rotate-icon{
    transform: rotate(-180deg);
}
.HEADER_list li:hover .HEADER_list-rotate-icon svg{
    fill: var(--hover-color)
}
.HEADER_list-dropdown-side{
    display: flex;
    flex-direction: column;
}
.HEADER_list-dropdown-side-item{
    text-wrap: nowrap;
}
.HEADER_list-dropdown .list-left li .HEADER_listdropdown-cont{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
}
.HEADER_listdropdown-def{
    color: var(--text-color)
}
.HEADER_listdropdown-subtitle{
    font-size: 1.2rem;
    font-weight: 700;
}
ul li a{
    text-decoration: none;
    color: inherit;
    display: inherit;
}
.HEADER_list-dropdown-side-item{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
}

.HEADER_list-dropdown-side-item:hover{
    background-color: var(--grey-hover)
}
.HEADER_searchbutton-small{
    display: none;
    justify-content: center;
    align-items: center;
}
.HEADER_searchbutton-small svg{
    fill: var(--navbar-list-color);
}
.HEADER_hamburger{
    font-size: 1.8rem;
    display: none;
    justify-self: center;
    align-items: center;
}
.HEADER-list-inner{
    display: flex;
    width: fit-content;
}
@media screen and (max-width: 1024px){
    .HEADER_searchbutton-label, .HEADER_searchbutton-commant{
        display: none;
    }
    .HEADER_searchbutton-small{
        display: flex
    }
    .HEADER_searchbutton{
        width: fit-content;
    }
    .HEADER_logo .HEADER_logoimg{
        height: 3rem;
    }
}
@media screen and (max-width: 900px){
    .HEADER_logo .HEADER_logoimg{
        height: 4rem;
    }
    .HEADER_list{
        position: absolute;
        display: none;
    }
    .HEADER_logonlist{
        justify-content: center;
        width: 100%;
    }
    .HEADER_hamburger{
        flex:1;
        display: flex;
    }
    .HEADER_logonlist{
        flex: 1;
    }
    .HEADER_searchnprofile{
        flex: 1;
        justify-content: end;
    }
    .HEADER_main-container{
        position: relative;
    }
    .HEADER_main-container.show .HEADER_list{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        background-color: var(--navbar-bg);
        top: 100%;
        width: calc( 100% - 2rem);
        margin-left: 0;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 3rem;
    }
    .HEADER_list{
        width: 100%;
    }
    .HEADER_list li{
        width: 100%;
        flex-direction: column;
    }
    .HEADER_list li:not(:has(div)){
        width: fit-content;
    }
    .HEADER_list li:hover{
        background-color: transparent;
    }
    .HEADER_list-dropdown{
        position: static;
    }
    .HEADER-list-inner{
        width: 100%;
        justify-content: space-between;
    }
    .HEADER_list-dropdown{
        width: 100%;
        box-shadow: none;
        background-color: transparent;
        padding: 0;
    }
    .HEADER_list-dropdown li{
        align-items: start;
        padding: 1rem;
        min-width: 15rem;
        overflow: hidden;
    }
    .HEADER_list-dropdown:has(.HEADER_list-dropdown-side) .list-left{
        border-right: none;
    }
    .HEADER_list-dropdown .list-left{
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .HEADER_list-dropdown:has(.HEADER_list-dropdown-side) .list-left{
        border-bottom: 1px solid var(--grey-border-color);
    }
    .HEADER_list-dropdown .list-left li .HEADER_listdropdown-subtitle{
        text-overflow: ellipsis;
        width: 100%;
    }
    .HEADER_list-dropdown{
        flex-direction: column;
    }
    .HEADER_list-dropdown .list-left{
        min-width: 0;
    }
}
@media screen and (max-width: 768px){
    .HEADER_searchbutton{
        display: none;
    }
    .HEADER_logo .HEADER_logoimg{
        height: 3rem;
        margin-right: 1rem;
    }
   
    .HEADER_list-dropdown .list-left li .HEADER_listdropdown-cont{
        justify-content: center;
    }
    .HEADER_dropdown ul{
        min-width: 20rem
    }
    .HEADER_hamburger{
        transform: 1s all ease;
    }
}
@media screen and (max-width: 540px){
    .HEADER_list-dropdown .list-left li .HEADER_listdropdown-subtitle{
        display: none;
    }
}