@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

:root{
  --background: url("../../src/assets/background/lines.png") no-repeat left 75px;
  --background-repeat: no-repeat;
  --background-position: left 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
    --primary-color: rgba(69, 69, 232, 0.687);
    --primary-light: rgba(69, 69, 232, 0.2);
    --primary-color-shadow: rgba(69, 69, 232, 0.448);
    --correctWordStat:green;
--incorrectWordStat:red;
--incorrectWordHover: orange;
--extraWordStat:grey;
--unTypedWordStat:white;
--correctWordStatBackground:rgba(0, 128, 0, 0.23);
--incorrectWordStatBackground:rgba(255, 0, 0, 0.154);
--extraWordStatBackground:rgba(128, 128, 128, 0.16);
--unTypedWordStatBackground:rgba(255, 255, 255, 0.281);
/* --word-color: #646669; */
--carrot-color: var(--primary-color);
--keyboard-back: var(--primary-color);
/* --primary-color: #323437; */
/* --primary-color: #ffffff;
--incorrect-letter: rgb(162, 51, 51);
--correct-letter: #d1d0c5; */
/* --menuItem-background-color: rgba(0, 0, 0, 0.532);
--menuItem-color: white;
--menu-li-color: white; */
--max-width: 120rem;
--size: 5rem;
}

.light{
    --body-bg: white;
    --navbar-list-color: rgba(100, 116, 139, 1);
    --grey-hover: rgba(226, 232, 240, 1)  ;
    --hover-color: rgba(51, 65, 85, 1);
    --navbar-bg: rgba(249, 250, 251, 1);
    --grey-border-color: rgba(226, 232, 240, 1);
    --text-color: rgba(31, 41, 55, 1);
    --general-bg: rgba(255, 255, 255, 1);
    --info-desc: rgb(7, 7, 7);
    --shadow: rgba(0, 0, 0, 0.24);
    --logo-text-color: rgba(34, 48, 62, 1);
    --input-inactive-theme: rgba(141, 135, 135, 0.889);
    --input-border: rgba(207, 202, 202, 0.593);
    --tab-bar-bg: #f9fafc;
    --incorrect-letter: red;
--correct-letter: grey;
--word-color: black;

/* sidebar variables */
--sidebar-background: rgba(0 ,0 ,0 , 0.1);
--light-background: rgba(0, 0, 0, 0);
--icon-color: black;
--text-color: #242526;
--logo-background:#695CFE;
--logo-color:white;
--text-high: black;
--text-color-light: rgba(0 , 0 , 0 , 0.5);
--toggle-btn-color: white;
--menuItem-background-color: rgba(0, 0, 0, 0.532);
--menuItem-color: white;
--menu-li-color: white;
--menuItem-hover: black;
--countDown-color: var(--primary-color);

--resultbar-background: #323437bd;
--resultbar-back: white;
--resultbar-border: white;
--control-btn-color: orange;
--control-btn-hover: #323437bd;
--typing-bar-border: #323437;
--social-media-color: rgba(255, 255, 255, 0.758);
--unTypedWordStat:#323437;
--edit-background: white;

--title-background: #323437;
--title-color: white;
--edit-border: black;
  }
  
  .dark{
    --body-bg: black;
    --navbar-list-color: #64748B;
    --grey-hover: rgba(30, 41, 59, 1);
    --hover-color: #CBD5E1;
    --navbar-bg: #111827;
    --grey-border-color: rgba(30, 41, 59);
    --text-color: #E5E7EB;
    --general-bg: #111827;
    --shadow: rgba(255, 255, 255, 1);
    --incorrect-letter: rgb(162, 51, 51);
--correct-letter: #d1d0c5;
--word-color: #646669;

/* sidebar variables */
--sidebar-background: #242526;
--icon-color: white;
--text-color: #707070;
--logo-background:#695CFE;
--logo-color:white;
--text-high: white;
--text-color-light: white;
--toggle-btn-color: black;
--menuItem-background-color: white;
--menuItem-color:  rgba(0, 0, 0, 0.532);
--menu-li-color:  rgba(0, 0, 0, 0.532);
--menuItem-hover: white;
--countDown-color: var(--primary-color);
--resultbar-background: rgba(255, 255, 255, 0.758);
--resultbar-back: #323437;
--resultbar-border: #323437;
--control-btn-color: orange;
--control-btn-hover: white;
--typing-bar-border: white;
--social-media-color: #323437;
--unTypedWordStat:white;
--edit-background: #323437;
--title-background: white;
--title-color: #323437;
--edit-border: white;
  }
  
body.dark, .BODY_content.light{

}
body.light{

}