a {
  font-weight: 600;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: inherit
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

/* @media screen and (max-width: 1000px){
  html{
    font-size: 31.25%;
  }
} */


 #resultGraph{
 width:  100%;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

#hoverResultBox{
 position: absolute;
 padding: 5px;
 background-color: rgba(0, 0, 0, 0.526);
 border-radius: 10px;
 width: fit-content;
 height: fit-content;
 transition: 0.2s all ease;
 pointer-events: none;
 color: white;
 font-size: 12px;
 display: none;
 flex-direction: column;
}

#hoverResultBox .infoBox{
 margin-top: 2px;
 display: flex;
 align-items: center;
}
#hoverResultBox .infoBox .repBox{
 width: 10px!important;
 height: 10px;
 background-color: var(--clr);
 border: 1px solid white;
 margin-right: 3px;
}

#colorWordsWrapper{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px 10%;
 flex-direction: column;
}

#colorWords{
 width: 100%;
 height: fit-content;
 display: flex;
 position: relative;
 flex-wrap: wrap;
}

#colorWords .word{
 /* margin-right: 5px; */
 margin: 5px 5px;
 display: flex;
 border-radius: 5px;
 font-size: 20px;
 /* background-color: rebeccapurple; */
 height: fit-content;
 cursor: pointer;
}

#colorWords .word div:first-child{
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 padding-left: 5px;
}
#colorWords .word div:last-child{
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
 padding-right: 5px;
}

#colorWords .word.erased{
 border: 1px solid white;
}
#colorWords .word:has(.incorrect){
 border-bottom: 2px solid red;
}
#colorWords .correct{
 padding: 3px;
 color: var(--correctWordStat);
 background-color: var(--correctWordStatBackground);
}
#colorWords .incorrect{
 padding: 3px 0;
 color: var(--incorrectWordStat);
 background-color: var(--incorrectWordStatBackground);
 position: relative
}
#colorWords .incorrect:hover{
 transform: scale(1.5);
 transition: 0.3s all ease;
 border: 1px solid var(--incorrectWordHover);
}
#colorWords .incorrect .hover span{
 font-size: 8px;
}
#colorWords .incorrect .hover{
 content: '';
 position: absolute;
 top: -5px;
 left: 0;
 transform: translate(-50%, -100%);
 padding: 5px;
 font-size: 10px;
 background-color: green;
 color: white;
 border-radius: 5px;
 display: none;
 justify-content: center;
 align-items: center;
}
#colorWords .incorrect:hover .hover{
 display: flex;
}
#colorWords .extra{
 padding: 3px;
 color: var(--extraWordStat);
 background-color: var(--extraWordStatBackground);
}
#colorWords .unTyped{
 padding: 3px 0;
 color: var(--unTypedWordStat);
 background-color: var(--unTypedWordStatBackground);
}

#wordInfoHover{
 width: fit-content;
 height: fit-content;
 padding: 5px;
 background-color: rgb(0, 0, 0);
 color: white;
 position: absolute;
 border-radius: 5px;
 border: 1px solid rgba(0, 0, 0, 0.297);
 display: none;
 transition: 0.3s all ease;
 flex-direction: column;
}

#colorWordsWrapper #colorIndicator{
 display: flex;
 margin-bottom: 20px;
}
#colorWordsWrapper #colorIndicator .typeBox{
 display: flex;
 margin-right: 15px;
}
#colorWordsWrapper #colorIndicator .typeBox .type{
 font-size: 20px;
 font-weight: bold;
 color: var(--resultbar-background);
 margin-right: 5px;
}
#colorWordsWrapper #colorIndicator .typeBox .typeColor{
 padding: 5px;
 border-radius: 5px; 
}
#colorWordsWrapper #colorIndicator .typeBox.correct .typeColor{
 color: var(--correctWordStat);
 background-color: var(--correctWordStatBackground);
}
#colorWordsWrapper #colorIndicator .typeBox.incorrect .typeColor{
 color: var(--incorrectWordStat);
 background-color: var(--incorrectWordStatBackground);
}
#colorWordsWrapper #colorIndicator .typeBox.extra .typeColor{
 color: var(--extraWordStat);
 background-color: var(--extraWordStatBackground);
}
#colorWordsWrapper #colorIndicator .typeBox.missed .typeColor{
 color: var(--unTypedWordStat);
 background-color: var(--unTypedWordStatBackground); 
}

.control-btn{
 margin-top: 10px;
 font-size: 20px;
 color: var(--control-btn-color);
 width: 50px;
 height: 50px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.control-btn:hover{
 background-color: var(--control-btn-hover);
}

.control-btn ion-icon{
 pointer-events: none;
}

.testInfo{
 display: flex;
 justify-content: space-between;
 width: 100%;
 padding: 0 50px;
 padding-top: 10px;
}
.testInfo .info{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: var(--resultbar-background);
}
.testInfo .info .value{
 font-size: 20px;
 font-weight: bold;
}
.testInfo .info .tag{
 text-transform: capitalize;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
