:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light{
  --body-bg: white;
  --navbar-list-color: rgba(100, 116, 139, 1);
  --grey-hover: rgba(226, 232, 240, 1)  ;
  --hover-color: rgba(51, 65, 85, 1);
  --navbar-bg: rgba(249, 250, 251, 1);
  --grey-border-color: rgba(226, 232, 240, 1);
  --text-color: rgba(31, 41, 55, 1);
  --general-bg: rgba(255, 255, 255, 1);
  --shadow: rgba(0, 0, 0, 0.24);
}

.dark{
  --body-bg: black;
  --navbar-list-color: #64748B;
  --grey-hover: rgba(30, 41, 59, 1);
  --hover-color: #CBD5E1;
  --navbar-bg: #111827;
  --grey-border-color: rgba(30, 41, 59);
  --text-color: #E5E7EB;
  --general-bg: #111827;
  --shadow: rgba(255, 255, 255, 1);
}

a {
  font-weight: 600;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: inherit
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

/* @media screen and (max-width: 1000px){
  html{
    font-size: 31.25%;
  }
} */