.SETTINGS_main-container{
    position: absolute;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    border: 2px solid var(--primary-color);
    animation: bottomTop 0.5s cubic-bezier(.32,2,.55,.27);
    height: calc(100vh - 2rem);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.SETTINGS_HEAD{
    background-color: var(--tab-bar-bg);
    padding: 0 2rem;
    border-bottom: 1px solid var(--input-border);
}
.SETTINGS_heading{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 700;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.SETTINGS_submit-settings{
    margin-left: auto;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
button{
    border: none;
    outline: none;

}
.SETTINGS_tabs{
    display: flex;
    /* width: 100%; */
    width: fit-content;
}
.SETTINGS_tab{
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s all ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.SETTINGS_tab.active{
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--primary-light);
}
.SETTINGSECTION_main-container{
    width: 100%;
}
.SETTINGSECTION_main-container.profile_settings{
    /* animation: profileTabOpen 0.5s ease; */
}

.SETTINGSECTION_main-container.typing_settings{
    /* animation: settingsTabOpen 0.5s ease; */
}
.SETTINGSECTION_head{
    margin: 1rem 2rem;
    border-bottom: 1px solid var(--input-border);
    padding: 1rem 0;
    position: relative;
}

.SETTINGSECTION_body{
    margin: 1rem 2rem;
}
.SETTINGSECTION_heading{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    padding-bottom: 0.5rem;
}
.SETTINGSECTION_description{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--navbar-list-color);
}
.SETTINGSECTION_head-info{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SETTINGSECTION_head-info-icon{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}
.SETTINGSECTION_head-info-description{
    display: none;
    /* margin-right: 1rem; */
    background-color: var(--info-desc);
    color: var(--tab-bar-bg);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 280px;
    position: absolute;
    top: calc(100% + 1rem);
    right: -2rem;
    z-index: 1;
}
.SETTINGSECTION_head-info:hover .SETTINGSECTION_head-info-description{
    display: flex;
}
.SETTINGS_body{
    height: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.SETTINGS_back{
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.SETTINGSECTION_wrap{
    display: flex;
    width: 100%;
    color: var(--text-color);
    border-bottom: 1px solid var(--input-border);
    padding-bottom: 1rem;
}
.SETTINGSECTION_wrap-title{
    font-size: 1.5rem;
    width: 20%;
}
.SETTINGSECTION_wrap:focus-within .SETTINGSECTION_wrap-title{
    color: var(--primary-color)
}
.SETTINGSECTION_wrap-body{
    width: 100%;
    max-width: 60rem;
}
.SETTINGSECTION_wrap-body.customLesson, .SETTINGSECTION_wrap-body.barType{
    margin-top: 1rem;
}
.keyboard-select-wrapper{
    margin-top: 1rem;
    position: relative;
}
.SETTINGSECTION_keyboard-selector-wrapper{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5rem solid black;
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    background-color: white;
    cursor: pointer;
}

.SETTINGSECTION_keyboard-selector{
    border: 0.2rem solid white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.SETTINGSECTION_keyboard-selector-wrapper.selected .SETTINGSECTION_keyboard-selector{
    background-color: var(--primary-color);
}

.keyboard-select-wrapper input[type=radio]{
    display: none;
}
/* .bodyContent:nth-child(:last-child){
    display: none;
} */
.bodyContent{
    height: fit-content;
    min-height: 0;
}
.bodyContent:not([type=multiplayer]){
    padding: 0;
}
#sidewayTypingBar [uid=content]{
    /* box-shadow: 0 0 0 0.2rem var(--primary-color-shadow); */
    border: 1px solid var(--primary-color);
}
/* .bar-select-wrapper{
    position: relative;
} */
.bar-select-wrapper input[type="radio"]{
    display: none;
}
.bar-select-wrapper label{
    position: absolute;
    left: 0;
    top: 0;
}
#barTypeInput{
    display: none;
}
.bar-title{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-title .bar-title-icon{
    margin-left: 1rem;
    display: none;
}
.bar-title.selected .bar-title-icon{
    display: flex;
}
#sidewayTypingBar{
    padding: 0 0.5rem;
}
[uid=typingBar] {
    width: calc( 100% - 2rem);
    margin: 0;
    margin: 1rem;
}


.SETTINGSSECTION_typing-times{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.SETTINGSSECTION_typing-time{
    display: flex;
    color: var(--navbar-list-color);
    background-color: var(--grey-hover);
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}
.SETTINGSSECTION_typing-time:hover{
    color: var(--hover-color)
}
.SETTINGSSECTION_typing-time.selected{
    color: white;
    background-color: var(--primary-color);
}
.settingFormInput{
    display: none;
}




  .checkbox-wrapper-41 input[type="checkbox"] {
    -webkit-appearance: none;
    width: var(--size);
    height: calc(var(--size) / 2);
    background-color: #fff;
    border: 0.1rem solid #222;
    border-radius: 30px 100px 100px 100px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    border: 0.1px solid #222;
    border-radius: 30px 100px 100px 100px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    transition: all 0.5s;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-radius: 100px 100px 30px 100px;
  }

  .checkbox-wrapper-41 input[type="checkbox"]:disabled {
    opacity: 0.5;
  }
  
  .checkbox-wrapper-41 input[type="checkbox"]:checked::before {
    left: 50%;
    background-color: #fff;
    border-radius: 100px 100px 30px 100px;
  }

.customLesson_selection{
    display: flex;
    align-items: center;
}
.customLesson_selection-heading{
    margin-left: 1rem;
    font-size: 1.5rem;
}
textarea.customLessonInput{
    border: 0.2rem solid var(--primary-color);
}
textarea.generateLessonInput{
    border-width: 0.1rem;
    opacity: 0.6;
}
.customLesson_selection-options{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    /* justify-content: center; */
    gap: 2rem;
}
.customLesson_input-er{
    font-size: 1.2rem;
    color: red;
    padding: 0 1rem;
    display: none;
}
.customLesson_input-er.show{
    display: flex;
}

@keyframes settingsTabOpen {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes profileTabOpen {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes bottomTop {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 1210px){
    .SETTINGS_main-container{
        border:none;
        margin: 0;
        height: 100vh;
    }
}

@media screen and (max-width: 768px){
    .SETTINGSECTION_wrap{
        flex-direction: column;
    }
    .SETTINGSECTION_wrap .SETTINGSECTION_wrap-title{
        width: fit-content;
        font-size: 1.2rem;
    }
    .SETTINGSECTION_keyboard-selector-wrapper{
        width: 2rem;
        height: 2rem;
        border-width: 0.2rem;
    }
    .keyboard{
        max-width: 50rem;
    }
    
[uid=typingBar] [uid=content] .word {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0.3rem;
}
#sidewayTypingBar [uid=content] .subContent .word {
    font-size: 2rem;
    padding: 0.3rem;
}
[uid=typingBar] {
    height: 110px;
}
}
